*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}
a{
    text-decoration: none;
    color: white;
}
.loginbody{
    /* background-color: #f2f2f2; */
    background-image: url('images/login-bg.jpg');
    background-position: center center;
    /* background-blend-mode: darken;
    background-color: rgb(0,0,0,0.7); */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-page-container{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
    background-color: white;
    width: 400px;
    padding: 50px 20px;
}

.login-form-group{
    margin: 30px 0;
}

.login-form-group label{
    color: #000;
    font-size: 1.4rem;
}

.login-form-input{
    width: 100%;
    padding: 6px 10px;
    margin-top: 10px;
    font-size: 1.2rem;
    border-radius: 15px;
    outline: none;
}

.err{
    color: rgb(160, 1, 1);
    font-weight: 900;
}

.btn-login{
    width: 100%;
    padding: 10px 18px;
    background-color: rgb(21, 207, 21);
    border: none;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1.2px;
    transition: background-color 0.3s;
    font-size: 16px;
    border-radius: 15px;
}

.btn-login:hover{
    cursor: pointer;
    background-color: rgb(58, 163, 58);
}

@media(max-height:534px){
    /* .login-page-container{
        width: 90%;
    } */
    body{
        display: block;
    }
    .login-page-container{
        margin: auto;
        margin-top: 140px;
        margin-bottom: 150px;
    }
}